@mixin disp {
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fonts {
  font-family: arial, helvetica, sans-serif;
  color: white;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}

.title {
  @include fonts;

  color: darkblue;
}

.roster-container,
.player-box {
  @include disp;

  width: 60%;
  height: 300px;
  background: lightblue;
  border: 2px solid darkblue;
  flex-direction: column;

  & .pokemon-box {
    @include disp;

    width: 100%;
    height: 50%;
    background: lightblue;
    border: 2px solid darkblue;
    margin: 10px;
    justify-content: space-between;
    flex-flow: row wrap;

    & .pokemon {
      @include fonts;

      width: 100px;
      height: 50px;
      background: darkblue;
      border-radius: 20px;
    }
  }
}

.selector-box {
  @include disp;

  width: 60%;
  height: 50%;
  background: lightblue;
  border: 2px solid darkblue;
  justify-content: space-around;
  flex-direction: row;

  & button {
    width: 150px;
  }

  & .pokemon-selected {
    @include disp;

    width: 200px;
    height: 50px;
    background: gold;
    border-radius: 20px;

    & h1 {
      @include fonts;

      color: darkblue;
    }
  }
}
